/** Dark blue (#010B2B) is navbar and footer
** Pastel blue (#AEC6CF) and
** White (#F0F5F5) is alternating sections/ negative space
** Orange (#FF8800) for CTA */

#container {
    font-family: 'Overpass';
}

.navbar {
    padding: 0 10%;
    background-color: #010B2B;
    color: #F0F5F5;
}

.navbar-collapse {
    justify-content: flex-end;
}

#home-section-1 {
    background-color: #AEC6CF;
    padding: 0 10%;
}

.header-1 {
    font-size: 40px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.para {
    font-size: 16px;
    font-weight: 300;
}

#home-section-2 {
    background-color: #F0F5F5;
    padding: 0 10%;
}

.footer {
    background-color: #010B2B;
    padding: 0 10%;
}

/* Components */
.to-top-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    right: 5%;
    height: 70px;
    width: 70px;
    border-radius: 100px;
}

.to-top-button:hover {
    animation: bounce 3s linear infinite;
}

@keyframes bounce {
    40% {
        transform: translateY(25%);
    }

    40% {
        transform: translateY(-25%);
    }
}