/** Dark blue (#010B2B) is navbar and footer
** Pastel blue (#AEC6CF) and
** White (#F0F5F5) is alternating sections/ negative space
** Orange (#FF8800) for CTA */

/* LAYOUTS AND COMMON (SHARED) COMPONENTS */

#container {
    font-family: 'Overpass';
    margin: 0 auto;
    min-width: 300px;
}

.navbar {
    padding: 0 10%;
    background-color: #010B2B;
    color: #F0F5F5;
}

.navbar a {
    margin-right: 5px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.cta-button {
    background-color: #FF8800;
    border-color: #FF8800;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    height: 42px;
    min-width: 130px;
    padding: 0 10px;
}

#submit-button {
    /* background-color: #F0F5F5;
    border-color: #F0F5F5;
    color: #010B2B; */
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    height: 42px;
    min-width: 130px;
    padding: 0 10px;
}

#section-dark {
    background-color: #AEC6CF;
    padding: 0 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#section-light {
    background-color: #F0F5F5;
    padding: 0 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#section-content {
    max-width: 1280px;
    height: 100%;
    /* temp border */
    border: solid 1px black;
}

#section-dark-header {
    background-color: #AEC6CF;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#faq {
    color: black;
    margin: 0 auto;
    vertical-align: middle;
    width: 75%;
}

.accordion-button.collapsed {
    color: black;
    background: #AEC6CF;
}

.accordion-button:not(.collapsed) {
    background-color: #010B2B;
    color: #F0F5F5;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.header-1 {
    font-size: 40px;
    height: auto;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to offset the icon's positioning (80px) */
    padding-left: 100px;

}

.para {
    font-size: 16px;
    font-weight: 300;
}


.footer {
    background-color: #010B2B;
    padding: 0 10%;
}

.cta-wave-light {
    background-color: #F0F5F5;
    max-height: 400px;
}

.cta-wave-dark {
    background-color: #AEC6CF;
    max-height: 400px;
    /* border: white 3px solid */
}

/* Unique Components */
.to-top-button {
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    right: 5%;
    height: 70px;
    width: 70px;
    border-radius: 100px;
}

.to-top-button:hover {
    animation: bounce 3s linear infinite;
}

#section-1-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}


@keyframes bounce {
    40% {
        transform: translateY(25%);
    }

    40% {
        transform: translateY(-25%);
    }
}

#required-field::after {
    content: "*";
    color: red;
}

.group-icons {
    display: flex;
    width: 50%;
    text-align: center;
    align-items: center;
}

#google-maps {
    margin-right: 50px;

}

.header-icon {
    width: 100%;
    min-width: 85px;
    max-width: 100px;
    float: right;
    transform: translate(-0px, 15px);
}

/* MOBILE RESPONSIVENESS */

@media (max-width: 450px) {

    #section-1-container {

        flex-direction: column;
    }

    .header-1 {
        padding-left: 90px;
    }

    .header-icon {
        transform: translate(-35px, 15px);
    }

    #google-maps {
        display: block;
        margin: 0;
    }

    .group-icons {
        margin-top: 40px;
        justify-content: center;
        display: flex;
        width: 100%;
    }

    .group-icons .col {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #section-light {
        height: 100%
    }

}

@media (max-width: 380px) {
    .group-icons {
        flex-direction: column;
    }
}

.pointer {
    cursor: pointer;
}