/** Dark blue (#010B2B) is navbar and footer
** Pastel blue (#AEC6CF) and
** White (#F0F5F5) is alternating sections/ negative space
** Orange (#FF8800) for CTA */


#container {
    font-family: 'Overpass';
    min-width: 300px;
}

.navbar {
    padding: 0 10%;
    background-color: #010B2B;
    color: #F0F5F5;
}

.navbar a {
    margin-right: 5px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.cta-button {
    background-color: #FF8800;
    border-color: #FF8800;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    height: 42px;
    min-width: 130px;
    padding: 0 10px;
}

#section-dark {
    background-color: #AEC6CF;
    padding: 0 10%;
}

#section-light {
    background-color: #F0F5F5;
    padding: 0 10%;
}

#section-content {
    height: 100%;
    /* temp border */
    /* border: solid 1px black; */
}

#section-dark-header {
    background-color: #AEC6CF;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #010B2B;
    padding: 0 10%;
}

.header-1 {
    font-size: 40px;
    height: auto;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to offset the icon's positioning () */
    padding-left: 110px;
}

.para {
    font-size: 16px;
    font-weight: 300;
}

.cta-wave-light {
    background-color: #F0F5F5;
    max-height: 400px;
}

/* Unique Components */
.to-top-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    right: 5%;
    height: 70px;
    width: 70px;
    border-radius: 100px;
}

.to-top-button:hover {
    animation: bounce 3s linear infinite;
}

@keyframes bounce {
    40% {
        transform: translateY(25%);
    }

    40% {
        transform: translateY(-25%);
    }
}

.plan-banner {
    max-width: 300px;
}

.plan-banner img {
    border-radius: 20px 20px 0 0px;
    width: 100%;
    object-fit: cover;
}

#promo-banner {
    display: flex;
    align-items: center;
}

#promo-outer {
    height: 100%;
    width: 70%;
}

#promo-inner {
    padding: 8% 5% 8% 20%;
}

#promo-img-container {
    display: inline-flex;
    height: 100%;
}

.header-icon {
    width: 110px;
    float: right;
    transform: translate(-0px, 15px);
}

.more-promo-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .more-promo-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width: 450px) {
    .header-1 {
        padding-left: 10%;
    }

    .header-icon {
        width: 70px;
        transform: translate(-45px, 20px);
    }

    #section-light {
        padding: 0 20px;
        display: flex;
        text-align: justify;
    }

    #promo-inner {
        padding: 0;
    }


    #promo-banner {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        align-items: flex-start;
        max-width: 300px;
    }

    #promo-outer {
        display: flex;
    }


}

@media (max-width: 370px) {
    .header-1 {
        padding-left: 0;
    }

    .header-1 img {
        display: none;
    }
}