/** Dark blue (#010B2B) is navbar and footer
** Pastel blue (#AEC6CF) and
** White (#F0F5F5) is alternating sections/ negative space
** Orange (#FF8800) for CTA */


#container {
    font-family: 'Overpass';
    /* TODO: for MOBILE, STANDARDISE ACROSS */
    margin: 0 auto;
    min-width: 300px;

}

.navbar {
    padding: 0 10%;
    background-color: #010B2B;
    color: #F0F5F5;

}

.navbar a {
    margin-right: 5px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.cta-button {
    background-color: #FF8800;
    border-color: #FF8800;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    height: 42px;
    min-width: 130px;
    padding: 0 10px;
}

#section-dark {
    background-color: #AEC6CF;
    padding: 0 10%;
}

#section-light {
    background-color: #F0F5F5;
    padding: 0 10%;
}

#section-content {
    /* TODO: STANDARDISE FOR ALL, DISCUSS FIRST*/
    padding: 70px 0;
    height: 100%;

}

#section-dark-header {
    background-color: #AEC6CF;
    height: 150px;

    /* TODO: STANDARDISE FOR ALL, DISCUSS FIRST */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #010B2B;
    padding: 0 10%;
}

.header-1 {
    font-size: 40px;
    height: auto;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to offset the icon's positioning (80px) */
    padding-left: 80px;
}


.para {
    font-size: 16px;
    font-weight: 300;
}

.cta-wave-light {
    background-color: #F0F5F5;
    max-height: 400px;
}

/* Unique Components */


@keyframes bounce {
    40% {
        transform: translateY(25%);
    }

    40% {
        transform: translateY(-25%);
    }
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-content {
    margin: 20px;
    background-color: #AEC6CF;
    width: 450px;
    padding: 20px;
    text-align: center;
    min-width: 300px;
    overflow: auto;
    border-radius: 30px;
}

.testimonial-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    overflow: auto;
    max-height: 200px;
}

.avatar {
    display: block;
    width: 150px;
    height: 100%;
    border-radius: 50%;
    /* background-color: burlywood; */
    overflow: hidden;
}

.avatar img {
    width: 100%;
    max-height: 100%;
    display: flex;
    margin: auto;
}


.header-icon {
    width: 80px;
    float: right;
    transform: translate(-0px, 15px);
}

@media (max-width: 450px) {
    #section-dark-header {
        height: 180px;
    }

    .header-1 {
        padding-left: 10px;
    }

    .header-icon {
        transform: translate(-10px, 15px);
    }
}

@media (max-width: 330px) {
    .header-1 {
        padding-left: 0;
    }

    .header-icon {
        display: none;
    }
}

.pointer {
    cursor: pointer;
}