/** Dark blue (#010B2B) is navbar and footer
** Pastel blue (#AEC6CF) and
** White (#F0F5F5) is alternating sections/ negative space
** Orange (#FF8800) for CTA */

/* LAYOUTS AND COMMON (SHARED) COMPONENTS */

#container {
    font-family: 'Overpass';
}

.navbar {
    padding: 0 10%;
    background-color: #010B2B;
    color: #F0F5F5;
}

.navbar a {
    margin-right: 5px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.cta-button {
    background-color: #FF8800;
    border-color: #FF8800;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    height: 42px;
    min-width: 130px;
    padding: 0 10px;
}

#section-dark {
    background-color: #AEC6CF;
    padding: 0 10%;
}

#section-light {
    background-color: #F0F5F5;
    padding: 0 10%;
}

#section-content {
    max-width: 1280px;
    height: 100%;
    /* temp border */
    border: solid 1px black;
}

#section-dark-header {
    background-color: #AEC6CF;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    height: 100%;
    overflow: auto
}

.header-1 {
    font-size: 40px;
    height: auto;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to offset the icon's positioning () */
    padding-left: 110px;
}

.header-icon {
    width: 110px;
    float: right;
    transform: translate(-0px, 15px);
}

.para {
    font-size: 16px;
    font-weight: 300;
}


.footer {
    background-color: #010B2B;
    padding: 0 10%;
}

.cta-wave-light {
    background-color: #F0F5F5;
    max-height: 400px;
}

.cta-wave-dark {
    background-color: #AEC6CF;
    max-height: 400px;
    /* border: white 3px solid */
}

/* Unique Components */
.to-top-button {
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    right: 5%;
    height: 70px;
    width: 70px;
    border-radius: 100px;
}

.to-top-button:hover {
    animation: bounce 3s linear infinite;
}

@keyframes bounce {
    40% {
        transform: translateY(25%);
    }

    40% {
        transform: translateY(-25%);
    }
}

@media (max-width: 450px) {
    .header-1 {
        padding-left: 70px;
    }

    .header-icon {
        width: 70px;
        transform: translate(0px, 0px);
    }
}

@media (max-width: 370px) {
    .header-1 {
        padding-left: 0;
    }

    .header-1 img {
        display: none;
    }
}